FastAPI
uvicorn[standard]
SQLAlchemy
alembic
psycopg[binary]
pydantic-settings
email-validator
passlib[bcrypt]
bcrypt>=4.0.0,<4.3
python-jose[cryptography]
prometheus-client
python-multipart
celery
redis
joblib
scikit-learn
huggingface_hub>=0.24.0
torch>=2.1.0
transformers>=4.38.0
prometheus-fastapi-instrumentator
streamlit
httpx
pytest
pytest-cov